.StripeElement,
.stripe-style-input {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input {
  box-shadow: 0 1px 3px 0 #cfd7df;
}
.ElementsApp, .ElementsApp .InputElement {
    color: black !important;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.order-header{
    color: white;
}
th {
    color: red;
}
.table-value{
    color: white;
}
.fieldset-label{
    color: white;
}

.form-check{
    color: white;
}
.thanks-container{
    color: white;
}

.order-details-top {
    margin: 20px auto;
    border: 1px solid;
    border-color: red;
}
.order-details-top h5 {
    color: red;
}
.order-details-top p {
    color: white;

}