{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}
{% block content %}
<!-- Header Content -->
<section>
    <div class="main-header">
        <h1 class="header-titile">Hands-on <span> Workshops </span> with the World's Top Experts in <span> Cuisinier
                Academy</span> </h1>
        <a href="{% url 'workshops'%}" class="btn btn-header">Our Workshops</a>
    </div>
</section>

<!-- Our Workshops -->

<section>
    <div class="container ">
        <div class="row ">
            <!-- Workshops paragraph -->
            <div class="col-lg-6">
                <div class="container-fluid workshops-section">
                    <h2 class="section-title">Our Workshops</h2>
                    <p class="section-title-para">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Temporibus deserunt culpa error nisi possimus mollitia reprehenderit accusantium
                        consequatur, quasi incidunt nemo odio architecto dolores assumenda provident officia aut
                        repellendus</p>
                    <img class="img-fluid show-img" src="https://i.ibb.co/VVgz368/workshops.jpg" alt="workshop-image">
                </div>
            </div>
            <!-- Workshops listing -->
            <div class="col-lg-6">
                <div class="container-fluid">
                    {% for workshop in workshops %}
                    <div class="row">
                        <a class=" workshop-img-bg" href="#">
                            <h2>{{ workshop.title }}</h2>
                            <p>{{ workshop.sub_title }}</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a href="{% url 'workshops'%}" class="btn btn-header-2">All Workshops</a>
            </div>
        </div>
    </div>
</section>

<!-- separator -->
<section>
    <div class="container-fluid separator-1">
    </div>
</section>

<!-- Our Experts-->

<section class="experts-section">
    <div class="container experts-section-header">
        <h2 class="section-title text-center">Our Experts</h2>
    </div>
    <div class="container">
        <div class="row">
            {% for expert in experts %}
            <div class="col-lg-4 expert-card">
                <a href="{% url 'expert' expert.id %}" class="expert-link">
                    <img class="rounded-circle text-center expert-img" src="{{ expert.profile_image.url }}" alt="" />
                    <h4 class="text-center">{{ expert.name }}</h4>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
    <div class="container">
        <div class="row my-5">
            <div class="col text-center">
                <a href="{% url 'experts'%}" class="btn btn-header-2">Our Experts</a>
            </div>
        </div>
    </div>
<!-- separator -->
<section>
    <div class="container-fluid separator-2">
    </div>
</section>

<!-- About Us -->
<section id="about-us" class="about-section">
    <div class="container ">
        <h2 class="section-title text-center">Cuisinier Academy</h2>
        <p class="about-para text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. At impedit tempore
            nobis obcaecati, voluptates
            totam tempora animi rem assumenda recusandae illum saepe nesciunt vero eius, nostrum corporis fugit officia
            aliquam suscipit! Temporibus sunt numquam sit!</p>
    </div>
    <!-- for future -->
    <!--
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button type="button" class="btn btn-header-2">Contact Us</button>
            </div>
        </div>
    </div>
    -->
    <!-- ======= -->
</section>

<section class="page-down"></section>
{% endblock %}