{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Header Content -->
<div class="main-header">
    <h1 class="header-titile">Hands-on <span> Workshops </span> with the World's Top Experts in <span> Cuisinier
            Academy</span> </h1>
    <button type="button" class="btn btn-header">Our Workshops</button>
</div>


<!-- Our Workshops -->

<section>
    <div class="container ">
        <div class="row ">
            <!-- Workshops paragraph -->
            <div class="col-lg-6">
                <div class="container-fluid workshops-section">
                    <h2>Our Workshops</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Temporibus deserunt culpa error nisi possimus mollitia reprehenderit accusantium
                        consequatur, quasi incidunt nemo odio architecto dolores assumenda provident officia aut
                        repellendus</p>
                    <img class="img-fluid show-img" src="../../../media/workshops.jpg" alt="">
                </div>
            </div>
            <!-- Workshops listing -->
            <div class="col-lg-6">
                <div class="container-fluid">
                    <div class="row">
                        <a class=" workshop-img-bg" href="#">
                            <h2>Workshop Main Title </h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </a>
                    </div>
                    <div class="row">
                        <a class=" workshop-img-bg" href="#">
                            <h2>Workshop Main Title</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </a>
                    </div>
                    <div class="row">
                        <a class=" workshop-img-bg" href="#">
                            <h2>Workshop Main Title</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </a>
                    </div>
                    <div class="row">
                        <a class=" workshop-img-bg" href="#">
                            <h2>Workshop Main Title</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button type="button" class="btn btn-header-2">All Workshops</button>
            </div>
        </div>
    </div>
</section>

<section class="page-down"></section>
{% endblock %}