{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class="header-titile"> <span> Order details</span></h1>
<!-- Order table from CI Boutique Ado project  -->
<div class="table-responsive rounded">
    <table class="table table-sm table-borderless">
        <thead class="text-black">
            <tr>
                <th scope="col">Workshop</th>
                <th scope="col">Price</th>
                <th scope="col">Date & Time</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        <tr>
            <td class="py-3">
                <p class="my-0"><strong>{{ workshop.title }}</strong></p>
                <p class="my-0 small text-muted">{{ workshop.sub_title }}</p>
            </td>
            <td class="py-3">
                <p class="my-0">${{ workshop.price }}</p>
            </td>
            <td class="py-3 w-25">
                <p class="my-0">{{ workshop.date }}</p>
            </td>
            <td class="py-3">
                <p class="my-0">{{ workshop.location }}</p>
            </td>
        </tr>
    </table>
</div>

<!-- Customer info form -->
<form action="" method="POST" id="payment-form">
    {% csrf_token %}
    <fieldset class="rounded px-3 mb-5">
        <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
        {{ order_form.full_name | as_crispy_field }}
        {{ order_form.email | as_crispy_field }}
    </fieldset>
</form>

{% endblock %}