@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,300;1,400&display=swap');

body{
    background-color: black;
}

/* =============================== */

/* Fullscreen Overlay Navbar 
    Started from W3School https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp 
    Customize by add fontawasome bar icon and restyle size & Color
*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
}

.navbaricon {
    color: white;
    font-size: 40px;
    padding: 10px;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #cacaca;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: red;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/* =============================== */


/* =============================== */
/* Hero Image and Title */
.main-header {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 15%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,1) 100%), url('/media/header.jpg'); /* I used https://cssgradient.io/ to generate gradient*/
    background-size: cover;
    height: 80vh;
}

.header-titile{
    margin: 120px 330px 20px 100px;
    color: white;
    font-size: 48px;
    font-family: 'flamenco', sans-serif;
    justify-content: left;
}

.header-titile span{
    color: red;
    font-size: 58px;
    font-weight: bold;
}
.btn-header{
    margin: 30px 20px 20px 100px ;
    color: rgba(255, 255, 255, 0.8) ;
    border: 2px solid;
    border-color: rgba(255, 0, 0, 0.5); 
    border-radius: 300px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    padding: 15px 45px;

}
.btn-header:hover{
    color: rgba(255, 0, 0);
    border-color: yellow;
    font-weight: bold;
}


@media only screen and (max-width: 600px) {
    .header-titile {
        font-size: 32px;
        margin: 80px 20px 20px 20px;
    }
    .btn-header{
        margin: 20px 20px 20px 20px;
    }
}


/* ================================== */
/* Workshop section */
.workshops-section{
    height: 100vh;
}
.section-title {
    color: red;
    font-size: 48px;
    font-family: 'flamenco', sans-serif;
    justify-content: left;  
}

.section-title-para {
    color: rgba(255, 255, 255, 0.76);
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    justify-content: left;  
    margin-bottom: 50px;
}


.btn-header-2 {
    color: rgba(255, 255, 255, 0.8) ;
    border: 2px solid;
    border-color: rgba(255, 0, 0, 0.5); 
    border-radius: 300px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    padding: 15px 45px;
    margin-bottom: 20px;

}
.btn-header-2:hover{
    color: rgba(255, 0, 0);
    border-color: yellow;
    font-weight: bold;
} 

/* ------- */

.workshop-img-bg {
    color: white;
    text-align: center;
    height: 130px;
    margin: 5px;
    padding: 10px;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.8) 15%, rgba(0,0,0,0.4) 40%, rgba(0,0,0,0.8) 100%), url('/media/workshopimg.jpg');
    text-decoration:none; 
}
.workshop-img-bg:hover{
    -webkit-clip-path: inset(10px);
    clip-path: inset(10px);
    text-decoration:none; 
    cursor:pointer;
    background-image: linear-gradient(0deg, rgba(255, 255, 0, 0.2) 0%, rgba(187, 105, 105, 0.5) 70%, rgba(255,0,0,0.4) 80%), url('/media/workshopimg.jpg');
}
.workshop-img-bg h2 {
    color: white;
    font-size: 32px;
    font-family: 'flamenco', sans-serif;
    font-weight: bold;
    justify-content: center;  
    margin-top: 5px;
    padding-top: 5px;
}
 .workshop-img-bg p {
    color: rgba(255, 255, 255, 0.76);
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    justify-content: center; 
    margin-top: 5px;
    padding-top: 5px;
}


/* ==== separators ==*/ 
.separator-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,1) 100%), url('/media/separator-1.jpg'); 
    background-size: cover;
    height: 30vh;  
}
.separator-2 {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,1) 100%), url('/media/separator-1.jpg'); /*change image*/
    background-size: cover;
    height: 30vh;  
}


/* ============================== */
/* Our Experts */
.experts-section ,.about-section{
    height: 70vh;

}
.experts-section-header{
    margin: 10px auto;
}
.experts-section .section-title {
    margin-bottom: 48px;
}

.expert-card {
    text-decoration: none;
    opacity: 0.5;
}
.expert-card:hover {
    opacity: 1;
}
.expert-link:hover {
    text-decoration: none;
}
.expert-img{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.expert-card h4 {
    color: red;
    font-size: 24px;
    font-family: 'flamenco', sans-serif;
    font-weight: bold;
    margin-top: 15px;
    padding-top: 5px;  
}
.expert-card p {
    color: rgba(255, 255, 255, 0.76);
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    justify-content: center; 
    margin-top: 5px;
    padding-top: 5px;
}


/* =========================================== */
/*   About us section ==*/

.about-section{
    margin-top: 10vh;
}
.about-para {
    color: white;
    font-size: 28px;
    font-family: 'lato', sans-serif;
    justify-content: center;  
    margin-top: 15px;
    padding-top: 5px;   
    margin-bottom: 50px;
}


/* =============================== */
/* Footer */
.footer-header{
    color: white;
    font-size: 48px;
    font-weight: bold;
    font-family: 'flamenco', sans-serif;
    justify-content: left;
}
.footer-social-div{
    padding-right: 10px;
}
.footer-social-icon {
    color: white;
    font-size: 48px;
    font-weight: bold;
    font-family: 'flamenco', sans-serif;
    justify-content: left;
    padding: 20px;
}
.footer-social-icon:hover{
    color: red;
}
.Copyright {
    margin-top: 30px;
    color: gray;
}
/* =============================== */


/* ================================== */

/* Allauth */


.allauth-header{
    color: red;
    text-align: center;
    margin: 20px auto;
}

.allauth-para{
    color: white;
    text-align: center;
    margin: 20px auto;
}

.allauth-form label{
    color: white;
    font-size: 24px;
    font-family: 'flamenco', sans-serif;

}
.allauth-form input {
    color: white;
    background-color: black;
    border: 1px solid;
    font-size: 28px;
    border-radius: 300px;
    border-color: rgba(255, 0, 0, 0.5); 
    width: 100%;
    margin: 0 20px;
    padding: 0 20px;
}

.allauth-form button {
    margin-left: 40%;
}

#id_remember { 
    height: 15px;
    justify-content: left;
    width: 5%;
}

.socialaccount_providers {
        text-align: center;
}

.socialaccount_providers li::marker{
    color: black;
}

.allauth-btn-primary {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0,0,0);
    border: 2px solid;
    border-color: rgba(255, 0, 0, 0.5); 
    border-radius: 300px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    padding: 5px 10px;
    margin: 5px;  
    text-decoration: none;
    align-items: center;
}
.allauth-btn-primary:hover{
    color: rgba(255, 0, 0);
    border-color: yellow;
    font-weight: bold;
    text-decoration: none;
}

.allauth-btn-secondary {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0,0,0);
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    padding: 5px 10px;
    margin: 5px;  
    text-decoration: none;
    align-items: center;   
}

.allauth-btn-secondary:hover {
    color: rgba(255, 0, 0);
    font-weight: bold;
    text-decoration: none;
}

/* error messages */
.errorlist {
    color: red;
    font-size: 18px;

}
.errorlist li::marker{
    color: black;
    text-align: center;
}
