/* ========= All Workshops ==========*/

.workshops-header {
    font-family: 'flamenco', sans-serif;
    color: red;
    font-size: 58px;
    font-weight: bold;
}
.workshops-sub-header , .workshop-description-main {
    color: rgba(255, 255, 255, 0.76);
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    justify-content: left;  
    margin-bottom: 50px;
}
.workshops-card-img {
    width: 100%;
    height: 400px;
    background-image:  linear-gradient(0deg, rgba(255,0,0,0.8) 15%, rgba(255,0,0,0.8) 40%, rgba(255,0,0,0.8) 100%), url('{{ workshop.main_img.url }}');
}

.workshops-card-img:hover{
    -webkit-clip-path: inset(25px);
    clip-path: inset(25px);
    background-image:  linear-gradient(0deg, rgba(255,0,0,0.8) 15%, rgba(255,0,0,0.8) 40%, rgba(255,0,0,0.8) 100%), url('{{ workshop.main_img.url }}');
    text-decoration:none; 
    cursor:pointer;
}

.workshops-card-link {
    text-decoration: none;
}
.workshops-card-link:hover {
    text-decoration: none;
}
.workshops-card-header {
    color: white;
    font-size: 52px;
    font-family: 'flamenco', sans-serif;
    font-weight: bold;
    justify-content: center;  
    margin-top: 5px;
    padding-top: 145px;
}
.workshops-card-header-title {
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    justify-content: center; 
    margin-top: 5px;
    padding-top: 5px;
}



/* ========= */
@media only screen and (max-width: 600px) {
    .workshops-header{
        font-size: 32px;
    }
    .workshops-sub-header {
        font-size: 18px;
    }
    .workshops-card-header {
        font-size: 32px;
        padding-top: 120px;

    }
    .workshops-card-header-title {
        font-size: 18px;
    }
    .workshops-card-img {
        height: 350px;
    }
}

/* =============================*/
/* ==== Workshop Page =========*/
.workshop-page-header {
    background-size: cover;
    height: 500px;
    padding-top: 120px;
}

.workshop-page-header-titile {
    margin: 20px 30px 20px 100px;
    color: white;
    font-size: 48px;
    font-family: 'flamenco', sans-serif;
    justify-content: left;
}

.workshop-page-header-main {
    color: rgba(255, 255, 255, 0.76);
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    justify-content: left;  
    margin-bottom: 50px;
}
 .workshop-page-header-sub-titile {
    margin: 20px 330px 20px 100px;
    color: rgba(255, 255, 255, 0.76);
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    justify-content: left;  
    margin-bottom: 50px;
 }
.btn-workshop-page-header {
    margin: 30px 20px 20px 100px ;
    color: rgba(255, 255, 255, 0.8) ;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid;
    border-color: rgba(255, 0, 0, 0.5); 
    border-radius: 300px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    padding: 15px 45px;
}
.btn-workshop-page-header:hover {
    color: rgba(255, 0, 0);
    border-color: yellow;
    font-weight: bold;
}
.workshop-container-header {
    padding: 5px 15px;
    color: red;
    font-size: 48px;
    font-family: 'flamenco', sans-serif;
}
.work-shop-days {
    color: rgba(255, 0, 0, 0.75);
    font-size: 28px;
    font-family: 'Lato', sans-serif;
}
.day-2{
    margin-right: 85px;
}
.workshop-agenda{
    color: rgba(255, 255, 255, 0.76);
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    padding-top: 15px;;
}

.btn-workshop-page {
    margin: 20px ;
    color: rgba(255, 255, 255, 0.8) ;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid;
    border-color: rgba(255, 0, 0, 0.5); 
    border-radius: 300px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    padding: 15px 45px;
}
.btn-workshop-page:hover {
    color: rgba(255, 0, 0);
    border-color: yellow;
    font-weight: bold;
}

.workshop-icon {
    color: rgba(255, 0, 0, 0.75);
    font-size: 32px;
    font-weight: bold;
}

/* ========= */
@media only screen and (max-width: 600px) {
    .workshop-page-header-sub-titile {
        display: none;
    }
    .btn-workshop-page-header {
        margin: 30px 20px 20px 50px ;
        padding: 15px;
        justify-content: center;
        text-align: center;
    }
    .workshop-page-header-titile {
        margin: 20px 30px 20px 30px !important;
        justify-content: center;
        text-align: center;
    }
    .workshop-description-main{
        font-size: 28px;
    }
    .day-2{
        margin-right: 10px;
}

}