{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'experts/css/experts.css' %}">
{% endblock %}
{% block content %}
<!-- Header -->
<header class="text-center py-5 mb-4">
    <div class="container">
        <h1 class="experts-header text-center">Our Experts</h1>
        <p class="experts-sub-header text-center py-4 my-4">Our Top World Experts </p>
    </div>
</header>

<div class="container mb-5 pb-5">
    <div class="row">
        <!-- Expert card -->
        {% if experts %}
        {% for expert in experts %}
        <a href="{% url 'expert' expert.id %}" class="expert-link">
            <div class="col-xl-4 col-md-6 my-4">
                <div class="card expert-card">
                    <img src="{{ expert.profile_image.url }}" class="rounded-circle text-center expert-img"
                        alt="expert-img">
                    <div class="text-center">
                        <h5 class="card-expert-name">{{ expert.name }}</h5>
                        <div class="card-text">
                        {% for w in workshops %}
                        {% if w.expert == expert %}
                            <a href="{% url 'workshop' w.id %}" class="btn btn-card-workshops">{{ w }}</a>
                        {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
        {% endif %}
    </div>
</div>
<!-- separator -->
<section>
    <div class="container-fluid separator-2">
    </div>
</section>

<!-- Back to Home-->
<div class="container">
    <div class="row my-5">
        <div class="col text-center">
            <a href="{% url 'home'%}" class="btn btn-header-2">Home</a>
        </div>
    </div>
</div>
{% endblock %}